
<div style="min-height: 350px;">
    <h3>All Locations</h3>
    <div style="position: relative; margin-bottom: -286px; z-index: -30; background: #f9f9f9; border: 1px solid #eaeaea; padding: 1px;" id="LocListLoading">
        <div class="sk-fading-circle">
            <div class="sk-circle1 sk-circle"></div>
            <div class="sk-circle2 sk-circle"></div>
            <div class="sk-circle3 sk-circle"></div>
            <div class="sk-circle4 sk-circle"></div>
            <div class="sk-circle5 sk-circle"></div>
            <div class="sk-circle6 sk-circle"></div>
            <div class="sk-circle7 sk-circle"></div>
            <div class="sk-circle8 sk-circle"></div>
            <div class="sk-circle9 sk-circle"></div>
            <div class="sk-circle10 sk-circle"></div>
            <div class="sk-circle11 sk-circle"></div>
            <div class="sk-circle12 sk-circle"></div>
        </div>
        <div style="text-align: center; font-size: 17px; font-family: Verdana, Geneva, sans-serif !important;">Loading All Locations List<br/><br/>Please Wait...<br /><br/></div>
    </div>
    
    <ul id="trMltiData" class="all_locations" style="background: white;">
       
    </ul>
    <div class="LocationListTopWrap"><a href="#" class="btn btn-default"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> Top</a></div>
</div>
