    <footer>
        <div class="navbar navbar-default" style="min-height: 115px;">
            <div class="container">
                <div class="clearfix links">
                    <div class="col-xs-6 col-sm-3">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/about-us/about-us/">About Us</a></li>
                            <li><a href="/about-us/code-standards/">Resource Center</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <ul>
                            <li><a href="/locations/">Locations</a></li>
                            <li><a href="/distribution/">Distribution</a></li>
                            <li><a href="/installed-services/">Installed Services</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <ul>
                            <li><a href="/manufacturing/">Manufacturing</a></li>
                            <li><a href="/bfs-terms/">BFS Terms of Use</a></li>
                            <li>&nbsp;</li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <ul>
                            <li><a href="/site-map/">Site Map</a></li>
                            <li><a href="/contact-us/">Contact Us</a></li>
                            <li><a href="https://owa.bldr.com/owa/">Employee Login</a></li>
                        </ul>
                    </div>
                </div><!--comment for force commit -->
                <div class="clearfix copy">
                    <p style="text-align: center;">&copy; <script type="text/javascript"> var d = new Date(); document.write(d.getFullYear()); </script> Builders FirstSource, Inc. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>