.-buttons-bldr_button-3C9Mmf- {
    position: relative;
    padding: .8em 2em;
    background: #e7e7e7;
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
    user-select: none;
    font-size: 14px;
    font-weight:600;
}
.-buttons-bldr_button-3C9Mmf-:active{
    opacity:0.9;
}
.-buttons-primary-1R0fbU- {
    background-color: #324C9F;
    color: #ffffff;
}

.-buttons-white-ImUwlk- {
    background-color: #324C9F;
    color: #324C9F;
}

.-buttons-success-W2f1Y1- {
    background-color: #5CB85C;
    color: #ffffff;
}

.-buttons-danger-1tJ34Q- {
    background-color: #D9534F;
    color: #ffffff;
}

.-buttons-black-7I4EPh- {
    background-color: #222222;
    color: #ffffff;
}

.-buttons-inverted-3Tdwhx- {
    background-color: transparent;
}

.-buttons-primary_inverted-1lGRoz- {
    border: 2px solid #324C9F;
    color: #324C9F;
}

.-buttons-white_inverted-N0Zn2h- {
    border: 2px solid #ffffff;
    color: #ffffff;
}

.-buttons-success_inverted-34Gw7Z- {
    border: 2px solid #5CB85C;
    color: #5CB85C;
}

.-buttons-danger_inverted-GRZFVc- {
    border: 2px solid #D9534F;
    color: #D9534F;
}

.-buttons-black_inverted-1askQd- {
    border: 2px solid #222222;
    color: #ffffff;
}

.-buttons-large-2QaZZN- {
    padding: 1.2em 4em;
}

.-buttons-small-GwtGOR- {
    padding: 7px;
    font-size: 12px;
}

.-buttons-expanded-2CZS8l- {
    text-align: center;
    display: block;
}

.-buttons-rounded-3J-ihe- {
    border-radius: 30px;
}.-colors-background_primary-2OClKu- {
    background-color: #324C9F;
}

.-colors-background_secondary-EBWUTV- {
    background-color: #e7e7e7;
}

.-colors-background_default-1YniRK- {
    background-color: #ECEEEF;
}

.-colors-background_success-3Xl5Xc- {
    background-color: #5CB85C;
}

.-colors-background_danger-1QP3CS- {
    background-color: #D9534F;
}

.-colors-background_warning-8jFIea- {
    background-color: #F39C12;
}

.-colors-background_white-3Ma-S4- {
    background-color: #ffffff;
}

.-colors-background_black-1mxfmx- {
    background-color: #222222;
    color: #ffffff !important;
}

.-colors-text_primary-2IgxyH- {
    color: #324C9F;
}

.-colors-text_secondary-1IwtzG- {
    color: #e7e7e7;
}

.-colors-text_default-1gpJeQ- {
    color: #ECEEEF;
}

.-colors-text_success-3nrqjy- {
    color: #5CB85C;
}

.-colors-text_danger-3iXQa0- {
    color: #D9534F !important;
}

.-colors-text_warning-8-v-lW- {
    color: #F39C12;
}

.-colors-text_white-15BIR2- {
    color: #ffffff;
}

.-colors-text_black-ci8KyQ- {
    color: #222222;
}
.-utils-padding_none-2EyqfZ-{
    padding: 0 !important;
}
.-utils-margin_none-tpUVSx-{
    margin: 0 !important;
}
.-utils-p0-2zDbMt-{
    padding:0;
}
.-utils-m0-2GfPYu-{
    margin:0;
}

.-utils-p10-1ANJCt- {
    padding:10px;
}
.-utils-p20-2HUEc4-{
    padding:20px;
}

.-utils-p30-2D2Lrz- {
    padding: 30px;
}

.-utils-p40-343QK2- {
    padding: 40px;
}

.-utils-p50-2pazjQ- {
    padding: 50px;
}

.-utils-m10-38ZpRW- {
    margin: 20px;
}

.-utils-m20-l2X5Bx- {
    margin: 20px;
}

.-utils-m30-2or70q- {
    margin: 30px;
}

.-utils-m40-2UxsvY- {
    margin: 40px;
}

.-utils-m50-1uwhnY- {
    margin: 50px;
}

.-utils-pL10-2neap1-{
    padding-left:10px;
}

.-utils-pL20-10FNZ7- {
    padding-left: 20px;
}
.-utils-pL30-1Rha5I- {
    padding-left: 30px;
}
.-utils-pL40-1ZXGi3- {
    padding-left: 40px;
}
.-utils-pL50-EwRrOw- {
    padding-left: 50px;
}

.-utils-pR10-2iNOwq- {
    padding-right: 10px;
}

.-utils-pR20-MByGl8- {
    padding-right: 20px;
}

.-utils-pR30-1SEWOO- {
    padding-right: 30px;
}

.-utils-pR40-2f2UFT- {
    padding-right: 40px;
}

.-utils-pR50-21vtb7- {
    padding-right: 50px;
}


.-utils-pL10-2neap1-{
    padding-left:10px;
}

.-utils-pL20-10FNZ7- {
    padding-left: 20px;
}
.-utils-pL30-1Rha5I- {
    padding-left: 30px;
}
.-utils-pL40-1ZXGi3- {
    padding-left: 40px;
}
.-utils-pL50-EwRrOw- {
    padding-left: 50px;
}

.-utils-pR10-2iNOwq- {
    padding-right: 10px;
}

.-utils-pR20-MByGl8- {
    padding-right: 20px;
}

.-utils-pR30-1SEWOO- {
    padding-right: 30px;
}

.-utils-pR40-2f2UFT- {
    padding-right: 40px;
}

.-utils-pR50-21vtb7- {
    padding-right: 50px;
}

.-utils-mL10-3PnzYc- {
    margin-left: 10px;
}

.-utils-mL20-3ovAP2- {
    margin-left: 20px;
}

.-utils-mL30-181GPO- {
    margin-left: 30px;
}

.-utils-mL40-1pjCEH- {
    margin-left: 40px;
}

.-utils-mL50-3EyQOD- {
    margin-left: 50px;
}

.-utils-mR10-3ofLXF- {
    margin-right: 10px;
}

.-utils-mR20-3e63q6- {
    margin-right: 20px;
}

.-utils-mR30-1iHdYp- {
    margin-right: 30px;
}

.-utils-mR40-2xSqyj- {
    margin-right: 40px;
}


.-utils-pB10-2cWZSs- {
    padding-bottom: 10px;
}
.-utils-pB20-31Df1r- {
    padding-bottom: 20px;
}
.-utils-pB30-hD7bnz- {
    padding-bottom: 30px;
}

.-utils-pT10-1SGGoh- {
    padding-top: 10px;
}

.-utils-pT20-pibqV4- {
    padding-top: 20px;
}

.-utils-pT30-1cR_MM- {
    padding-top: 30px;
}

.-utils-mB0-311nfm- {
    margin-bottom: 0px;


}
.-utils-mB10-1oH8dy- {
    margin-bottom: 10px;
}

.-utils-mB20-Xb_gqe- {
    margin-bottom: 20px;
}

.-utils-mB30-21M_oq- {
    margin-bottom: 30px;
}

.-utils-mT0-1bA5qi- {
    margin-top: 0px;
}

.-utils-mT10-AqASyy- {
    margin-top: 10px;
}

.-utils-mT20-33bOKg- {
    margin-top: 20px;
}

.-utils-mT30-YpjBJa- {
    margin-top: 30px;
}

.-utils-mT40-2gcPwU- {
    margin-top: 40px;
}

.-utils-mT50-2OfLTV- {
    margin-top: 50px;
}


.-utils-text_right-HCyqPf- {
    text-align: right;
}
.-utils-text_left-OeHYtQ- {
    text-align: left;
}
.-utils-text_center-1jYunR-{
    text-align:center;
}
.-utils-content_center-1sNFNk-{
    margin:0 auto;
}
.-utils-inline-3DHmWU-{
    display:inline !important;
}
.-utils-line_break-2SQWb4-{
    position:relative;
    width:100%;
    height:1px;
    background-color:#707070;
    opacity: 0.5;
}




@media screen and (max-width:767px){
    .-utils-mobile_center-2O7KnL- {
        position: relative;
        margin: auto;
        text-align: center;
        justify-content: center;
        align-items: center;
        left: auto;
        right: auto;
    }
  
    .-utils-mobile_mB20-2GJqnW- {
        margin-bottom:20px;
    }

    .-utils-p10-1ANJCt- {
        padding: .8%;
    }

    .-utils-p20-2HUEc4- {
        padding: 1.5%;
    }

    .-utils-p30-2D2Lrz- {
        padding: 2.3%;
    }

    .-utils-p40-343QK2- {
        padding: 3%;
    }

    .-utils-p50-2pazjQ- {
        padding: 3.8%;
    }

}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
    .-utils-p50-2pazjQ- {
        padding: 2.8%;
    }
}

@media screen and (max-width:320px) {
    .-utils-mobile_shrink-3JvCkb-{
        padding: 15px;
    }
    .-utils-mobile_font-C5t6CO-{
        font-size:3vw !important;
    }
}
.-font-roboto-3sce0u- {
    font-family: 'Roboto', sans-serif;
}

.-font-h1-2s32Jl- {
    font-size: 40px;
}

.-font-h2-XtR7Mw- {
    font-size: 32px;
}

.-font-h3-3b4yiW- {
    font-size: 28px;
}

.-font-h4-qmzmCM- {
    font-size: 24px;
}

.-font-h5-3SMr8P- {
    font-size: 20px;
}

.-font-h6-3CVi1i- {
    font-size: 16px;
}

.-font-p-2eeIsb- {
    font-size: 16px;
}

.-font-font_14-2v7_Fm- {
    font-size: 14px;
}

.-font-font_12--28STo- {
    font-size: 12px;
}

.-font-bldr-headline-1USykB- {
    font-size: 50px;
    font-weight: bold;
}
.-font-bold-2Vceb3-{
    font-weight:bold;
}

.-font-bolder-2DZ8lT- {
    font-weight: bolder;
}.-flex-flex_container-wQRrkH- {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
.-flex-flex_expand-1ppgJ7-{
    width:100%;
}
.-flex-flex_row-p7jtur- {
    display: flex;
    flex-direction: row;
}

.-flex-flex_column-IXg9-I- {
    display: flex;
    flex-direction: column;
} 
.-flex-flex_wrap-2UtJOV-{
    flex-wrap: wrap;
}

.-flex-flex_nowrap-10EYFX- {
    flex-wrap: nowrap;
}
.-flex-flex_auto-1Oq9Si-{
    flex: 0 1 auto;
}
.-flex-flex_1x-3JwkqE-{
    flex:1;
}

.-flex-flex_2x-1n1VXZ- {
    flex: 2;
}

.-flex-flex_3x-hQPQco- {
    flex: 3;
}
.-flex-flex_4x-23BBlC- {
    flex: 4;
}
.-flex-flex_5x-2HEbKG- {
    flex: 5;
}
.-flex-flex_start-10ZY0S-{
    justify-content : flex-start;
}
.-flex-flex_end-3zEvzt- {
    justify-content: flex-end;
}
.-flex-flex_center-HZucT-- {
    justify-content:center;
}
.-flex-flex_even-3P4U6E- {
    justify-content: space-evenly;
}
.-flex-flex_stretch-1uj52C- {
    align-items: stretch;
    height: 100%;
    min-height: 100%;
}
.-flex-center-1Ec4Hh- {
    align-items:center;
    justify-content: center;
}

.-flex-flex_wrap-2UtJOV-{
    flex-wrap:wrap;
}

.-flex-flex_around-WjQHNn- {
    justify-content: space-around;
}
.-flex-flex_spaced-2Y7poe- {
    justify-content: space-between;
}

.-flex-scrollableY-1xkwF5-{
    max-height:100vh;
    overflow-y:scroll;
}
  .-flex-flex_12-1e4q6-- {
    flex-basis: 100%;
  }
  .-flex-flex_11-3kR-cv- {
    flex-basis: 91.66666667%;
  }
  .-flex-flex_10-tINOQ1- {
    flex-basis: 83.33333333%;
  }
  .-flex-flex_9-_SK_iP- {
    flex-basis: 75%;
  }
  .-flex-flex_8-2lz8EQ- {
    flex-basis: 66.66666667%;
  }
  .-flex-flex_7-3O_fdV- {
    flex-basis: 58.33333333%;
  }
  .-flex-flex_6-31Ve6l- {
    flex-basis: 50%;
  }
  .-flex-flex_5-sXO9yC- {
    flex-basis: 41.66666667%;
  }
  .-flex-flex_4-2WBgvr- {
    flex-basis: 33.33333333%;
  }
  .-flex-flex_3-ZBqYo0- {
    flex-basis: 25%;
  }
  .-flex-flex_2-3H6ex2- {
    flex-basis: 16.66666667%;
  }
  .-flex-flex_1-2nEoYN- {
    flex-basis: 8.33333333%;
  }


/* IE10+ specific styles go here */
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  
    .-flex-flex_12-1e4q6-- {
        flex-basis: 100%;
    }

    .-flex-flex_11-3kR-cv- {
        flex-basis: 91.66666667%;
    }

    .-flex-flex_10-tINOQ1- {
        flex-basis: 83.33333333%;
    }

    .-flex-flex_9-_SK_iP- {
        flex-basis: 64%;
    }

    .-flex-flex_8-2lz8EQ- {
        flex-basis: 66.66666667%;
    }

    .-flex-flex_7-3O_fdV- {
        flex-basis: 53.33333333%;
    }

    .-flex-flex_6-31Ve6l- {
        flex-basis: 50%;
    }

    .-flex-flex_5-sXO9yC- {
        flex-basis: 41.66666667%;
    }

    .-flex-flex_4-2WBgvr- {
        flex-basis: 33.33333333%;
    }

    .-flex-flex_3-ZBqYo0- {
        flex-basis: 25%;
    }

    .-flex-flex_2-3H6ex2- {
        flex-basis: 16.66666667%;
    }

    .-flex-flex_1-2nEoYN- {
        flex-basis: 8.33333333%;
    }
}


/**All Tablets*/
@media screen and (max-width: 1024px) {
    .-flex-flex_container-wQRrkH- {
        flex-wrap: wrap;
    }
    .-flex-hide_on_tablet-20GKZO- {
        display: none !important;
    }
    .-flex-flex_md_12-2juGos- {
        flex-basis: 100%;
    }

    .-flex-flex_md_11-3jIAfY- {
        flex-basis: 91.66666667%;
    }

    .-flex-flex_md_10-2t2AOK- {
        flex-basis: 83.33333333%;
    }

    .-flex-flex_md_9-3Xsq9u- {
        flex-basis: 75%;
    }

    .-flex-flex_md_8-1D9APx- {
        flex-basis: 66.66666667%;
    }

    .-flex-flex_md_7-3sM-_0- {
        flex-basis: 58.33333333%;
    }

    .-flex-flex_md_6-2qf2O6- {
        flex-basis: 50%;
    }

    .-flex-flex_md_5-1q7S-I- {
        flex-basis: 41.66666667%;
    }

    .-flex-flex_md_4-3igFSC- {
        flex-basis: 33.33333333%;
    }

    .-flex-flex_md_3-3SJSfA- {
        flex-basis: 25%;
    }

    .-flex-flex_md_2-1hCqXZ- {
        flex-basis: 16.66666667%;
    }

    .-flex-flex_md_1-1HJR6o- {
        flex-basis: 8.33333333%;
    }

}

/**All Phones*/
@media screen and (max-width: 767px) {
    .-flex-flex_container-wQRrkH- {
        flex-wrap: wrap;
    }
    .-flex-hide_on_phone-3jIW75- {
        display: none !important;
    }
    .-flex-flex_sm_12-2bD6Ni- {
        flex-basis: 100%;
    }

    .-flex-flex_sm_11-161lm1- {
        flex-basis: 91.66666667%;
    }

    .-flex-flex_sm_10-3uR5S1- {
        flex-basis: 83.33333333%;
    }

    .-flex-flex_sm_9-1PO2nx- {
        flex-basis: 75%;
    }

    .-flex-flex_sm_8-FOCAoZ- {
        flex-basis: 66.66666667%;
    }

    .-flex-flex_sm_7-24jP73- {
        flex-basis: 58.33333333%;
    }

    .-flex-flex_sm_6-2l19fH- {
        flex-basis: 50%;
    }

    .-flex-flex_sm_5-2c1b27- {
        flex-basis: 41.66666667%;
    }

    .-flex-flex_sm_4-2tENMX- {
        flex-basis: 33.33333333%;
    }

    .-flex-flex_sm_3-2Zc6jZ- {
        flex-basis: 25%;
    }

    .-flex-flex_sm_2-KhODwR- {
        flex-basis: 16.66666667%;
    }

    .-flex-flex_sm_1-1aP9XC- {
        flex-basis: 8.33333333%;
    }
}


.-estimates-table-_8pDOe- {
    font-family: Roboto, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

    .-estimates-table-_8pDOe- thead {
        color: black;
        border-bottom: 1px solid #dddddd;
    }
.-estimates-table-_8pDOe- thead th{
    padding:15px;
}
    .-estimates-table-_8pDOe- td, .-estimates-table-_8pDOe- tr:not(:first-child) {
        border-bottom: 1px solid #dddddd;
        text-align: left;
        padding: 15px;
    }

    .-estimates-table-_8pDOe- thead, .-estimates-table-_8pDOe- tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

.-estimates-table-_8pDOe- tbody {
    display: block;
    border-radius: 5px;
}

.-estimates-table-_8pDOe- input[type="number"] {
        width: 60px;
        padding-left: 3px;
        border-radius: 3px;
        outline: 0;
        border: 2px solid #e7e7e7;
        transition:ease all .2s;
}
.-estimates-table-_8pDOe- col:nth-child(5){
    width: 25%;
}

.-estimates-table-_8pDOe- input[type="number"]:focus {
        border: 2px solid #324C9F;
        color:#324C9F;
}

.-estimates-infoIcon-j7i-qj-{
    width: 10px;
    height: 10px;
    padding: 3px 9px;
    border-radius: 50%;
}

.-estimates-price_card-1muxEB-{
    padding:30px;
}

.-estimates-disabledTable-1W2I2Z- {
    color: gray !important;
}

    .-estimates-disabledTable-1W2I2Z- * {
        color: gray !important;
    }

.-estimates-emailLink-3IFcg7- {
    cursor: pointer;
    border-radius: 3px;
}

 .-estimates-emailLink-3IFcg7-:active{
        opacity:0.8;
  }
.-estimates-emailSentLinkSuccess-37cPEK- {
    padding: 7px 13px 7px 7px;
    border: 2px solid #5CB85C;
    color: #5CB85C;
    user-select:none;
    -webkit-user-select:none;
}
    .-estimates-emailSentLinkSuccess-37cPEK- i {
        color: #5CB85C;
    }
    .-estimates-borderBlue-172dya- {
        padding: 7px 13px 7px 7px;
        border: 2px solid #324C9F;
    }

    /**Firefox specific styles**/
    @-moz-document url-prefix() {
        .-estimates-table-_8pDOe- > colgroup {
        display: none !important;
    }

}
    @media screen and (max-width:600px){
        .-estimates-table-_8pDOe- {
            width: 100%;
        }

        .-estimates-table-_8pDOe- tbody {
            display: block;
            max-height: 100%;
            height:auto;
            overflow-y: initial;
            border-radius: 5px;
        }


        /* Force table to not be like tables anymore */
            .-estimates-table-_8pDOe-, .-estimates-table-_8pDOe- thead, .-estimates-table-_8pDOe- tbody, .-estimates-table-_8pDOe- th, .-estimates-table-_8pDOe- td, .-estimates-table-_8pDOe- tr {
                display: block;
            }

            /* Hide table headers (but not display: none;, for accessibility) */
        .-estimates-table-_8pDOe- thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        .-estimates-table-_8pDOe- tr {
            border: 1px solid #ccc;
        }

        .-estimates-table-_8pDOe- td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
        }

        .-estimates-table-_8pDOe- td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
            /* Label the data */
            content: attr(data-column);
            color: #000;
            font-weight: bold;
        }
    }.-jobPicker-jobContainer-24LNN_- {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.-jobPicker-overlay-1vsF_V- {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 9999;
}

.-jobPicker-jobPickerWrapper-3T1CTI- {
    position: absolute;
    top: 20px;
    width: 35%;
    height: 100%;
    left: calc(100% / 2 - (40% / 2));
    right: auto;
    transform: translate(0, 2200px);
    padding: 40px;
    border-radius:7px;
    box-sizing: border-box;
    background-color: #ffffff;
    z-index: 99999;
}

.-jobPicker-open-1pUpv9- {
    -webkit-animation-delay: 5s; /* Safari 4.0 - 8.0 */
    animation-delay: 5s;
    -webkit-animation: -jobPicker-slideup-3WjZ7D- .3s forwards; /* Safari 4.0 - 8.0 */
    animation: -jobPicker-slideup-3WjZ7D- .3s forwards;
}

.-jobPicker-job_item-1AwgxC-{
    position:relative;
    padding:20px;
    width:100%;
    border:2px solid #e7e7e7;
    border-radius:3px;
    transition:ease-in all .2s;
}

    .-jobPicker-job_item-1AwgxC-:hover {
        border: 2px solid #324C9F !important;
        color: #324C9F;
        cursor:pointer;
    }
.-jobPicker-scrollable-3kB2eL-{
   position:relative;
   width:100%;
   height:90%;
   margin-top:20px;
   padding-right:20px;
   max-height:800px;
   overflow-y:auto;
}

.-jobPicker-close-GH9C54- {
    position: absolute;
    right: 32px;
    top: 18px;
    cursor:pointer;
}
@keyframes -jobPicker-slideup-3WjZ7D- {
    from {
        transform: translate(0, 2200px);
    }

    to {
        transform: translate(0, 0);
    }
}





@media screen and (max-width: 800px) {
    .-jobPicker-jobPickerWrapper-3T1CTI- {
        width: 85%;
        left: calc(100% / 2 - (85% / 2));
    }

    }



 .-input-label-2ZxQnv- {
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
}

.-input-bldr_input-2uTQ5-- {
    width: 100%;
    display: block;
    box-sizing: border-box;
    border: 1px solid #e7e7e7;
    padding: .6em .5em;
    border-radius: 3px;
}

 .-input-round-29Ey9C- {
        border-radius: 30px;
        padding: .6em 1em;
 }

 .-input-bldr-input-13tED3-:focus {
        border: 1px solid #324C9F !important;
 }

.-input-bldr_input-2uTQ5--:not(:focus):required:invalid {
    border: 1px solid red;
    color: red;
    font-weight: bold;
}

.-input-bldr_input-2uTQ5--:out-of-range {
    border: 1px solid red;
    color: red;
    background-color: rgba(255,0,0,0.8);
    font-weight: bold;
}
.-loading-bldrLoader-odIwkg- {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #324C9F;
    width: 40px;
    height: 40px;
    -webkit-animation: -loading-spin-3dqv2d- 1s linear infinite; /* Safari */
    animation: -loading-spin-3dqv2d- 1s linear infinite;
    margin:auto;
}


/* Safari */
@-webkit-keyframes -loading-spin-3dqv2d- {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes -loading-spin-3dqv2d- {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.-reports-chartIcon-2C1VfD-{
    position:relative;
    top: 7px;
    margin-right:10px;
    font-size:21px;
}

.-reports-gray_backdrop-3rSfWS- {
    position: relative;
    width: 100%;
    height: auto;
    background: #FCFCFC;
}


.-reports-linkDescription-1tBIkz-{
    max-width:300px;
}

@media screen and (max-width:1024px) {
    .-reports-gray_backdrop-3rSfWS-{
        height:90%;
    }
}


